@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sprite {
    --s: 1;
    --x: 0px;
    --y: 0px;
    --w: 0px;
    --h: 0px;

    background-image: url("image/a50549b8827f09843841d13f031f165f.png");
    width: calc(var(--w) * var(--s));
    min-width: calc(var(--w) * var(--s));
    height: calc(var(--h) * var(--s));
    min-height: calc(var(--h) * var(--s));
    background-position: calc(0px - var(--x) * var(--s)) calc(0px - var(--y) * var(--s));
    background-size: calc(8192px * var(--s)) calc(4096px * var(--s));
}
